@charset "utf-8";

relogio {
	position: absolute;
	top: 22.2%;
	left: 21.5%;
	background-color: white;
	width: 2.7cm;
	height: 2.7cm;
	padding: 1px;
	margin: 1px;
	overflow: auto;
	text-align:center;
	line-height: 1;
}
horas{
	position:relative;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	top:60%;
}

.button1{
	background-color:transparent;
	position:absolute;
	width: 0.25cm;
	height: 0.5cm;
	border:0;
	left: 17%;
	top: 48%;
	
}
.button2{
	background-color:transparent;
	position:absolute;
	width: 0.25cm;
	height: 0.5cm;
	border:0;
	left: 53%;
	top: 22.5%;
}
.button3{
	background-color:transparent;
	position:absolute;
	width: 0.25cm;
	height: 0.5cm;
	border:0;
	left: 53.3%;
	top: 35%;
}
.button4{
	background-color:transparent;
	position:absolute;
	width: 0.25cm;
	height: 0.5cm;
	border:0;
	left: 53%;
	top: 47.5%;
}
.menu-bot{
		position:relative;
		width:2.7cm;
		height:0.76cm;
}

estado{
	position:relative;
}

esta{
	position:relative;
	top:10%;
  	margin-bottom: 20px;
  	font-size:11.7px;
  	font-size:15px;
}

p {
  margin-top: 0.2em;
  margin-bottom: 0.3em;
  font-size:11.7px;
}

horas-menu{
	position:relative;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	font-size:15px;
	text-align:center;
}

